// https://www.google.com/design/spec/style/color.html#color-color-palette
// Color Definitions

// Primary Color
// Purple
$primary-50:  #EDE7F6;
$primary-100: #D1C4E9;
$primary-300: #9575CD;
$primary-500: #673AB7;


// Accent Color
// Amber
$accent-500: #FFC107;


// Misc Colors
$white: #FFFFFF;


// Fonts
$header-fonts: Roboto, sans-serif;
$body-fonts: Roboto, sans-serif;