@import 'colors';

#main{
position:relative;
}

div#splash{
  background-color: Lavender; 

}

.unit-card img {
  opacity: 0.7;
  filter: alpha(opacity=40); /* For IE8 and earlier */
}

.unit-card:hover img {
  opacity: 1.0;
  filter: alpha(opacity=100); /* For IE8 and earlier */
}

.unit-card {
  background-color: $primary-100;
  padding: 10px;
  margin: 10px;
  box-shadow: 2px 2px 6px;
}

.unit-card:hover {
  box-shadow: 4px 4px 8px;
}

.unit-card.unit-card-select {
  box-shadow: 6px 6px 10px;
}

.header {
  font-family: $header-fonts;
  font-size: 2em;
}

.body {
  font-family: $body-fonts;
}