@import 'colors';

#main{
position:relative;
}

div#splash{
  background-color: Lavender; 

}



.unit-card:hover img {
  opacity: 1.0;
  filter: alpha(opacity=100); /* For IE8 and earlier */
}

.unit-card {
  background-color: $primary-100;
  margin: 10px;
  box-shadow: 2px 2px 6px;

  .select-bar {
    padding: 10px;
    background-color: $primary-500;
  }

  .data-region {
    padding: 10px;
  }

  img {
    opacity: 0.7;
    filter: alpha(opacity=40); /* For IE8 and earlier */
  }

  .header {
    opacity: 0.7;
    font-family: $header-fonts;
    font-size: 2em;
  }

  .body {
    opacity: 0.7;
    font-family: $body-fonts;
  }
}

.unit-card:hover {
  box-shadow: 4px 4px 8px;

  img {
    opacity: 1.0;
  }

  .header {
    opacity: 1.0;
  }

  .body {
    opacity: 1.0;
  }
}

.unit-card.unit-card-select {
  box-shadow: 6px 6px 10px;

  img {
    opacity: 1.0;
  }

  .header {
    opacity: 1.0;
  }

  .body {
    opacity: 1.0;
  }
}

