#main{
position:relative;
}

div#splash{
 background-color: AliceBlue; 

}

div#open{
background-image: url('/full_art/Saizo.png');

}

img {
    opacity: 0.7;
    filter: alpha(opacity=40); /* For IE8 and earlier */
}

img:hover {
    opacity: 1.0;
    filter: alpha(opacity=100); /* For IE8 and earlier */
}