#main{
position:relative;
}

div#splash{
 background-color: Lavender; 

}

img {
    opacity: 0.7;
    filter: alpha(opacity=40); /* For IE8 and earlier */
}

img:hover {
    opacity: 1.0;
    filter: alpha(opacity=100); /* For IE8 and earlier */
}

.unit-card {
  background-color: LavenderBlush;
  padding: 10px;
  margin: 10px;
  box-shadow: 2px 2px 10px;
}

.unit-card:hover {
  box-shadow: 4px 4px 8px;
}

.unit-card.unit-card-select {
  box-shadow: 6px 6px 6px;
}