#main{
position:relative;
}
/*
div#splash{
background-image: url('full_art/saizo.png');
opacity:0.2;
}
*/
img {
    opacity: 0.8;
    filter: alpha(opacity=40); /* For IE8 and earlier */
}

img:hover {
    opacity: 1.0;
    filter: alpha(opacity=100); /* For IE8 and earlier */
}